.menu-title {
	color: @primary-color;
	margin-bottom:@menu-title-padding-bottom;
}

.menu {
	background: @primary-color-inverted;
	.menu-container {
		height: ~"calc(100vh - 124px)";
    	overflow-y: scroll;
		.responsive-large;
		.responsive-medium;
		.responsive-small;
	}

	.menu-container-inner {
		padding:@menu-body-padding;
		.menu-header {
			height: 100%;
			width: 100%;
			text-align: center;
		}
		.menu-body-inner {
			max-width: 32em;
    		margin-left: auto;
    		margin-right: auto;
    		padding-top: 1em;
		}
	}

	.menu-item {
		.responsive-medium;
		.responsive-small;
		//width:100%;
		max-width: 37em;
		margin-left: 20px;
		margin-top: 20px;
		margin-right:20px;
	}

	.menu-item-inner {
		background: @primary-color;
		position:relative;
		padding: 3px;
	}

	.menu-graphic a {
		display: block;
	}
	
	.menu-item-title {
		padding: 15px;
		.item-title;
		color: @primary-color-inverted;
	}

	.menu-item-body {
		padding:@menu-body-padding;
		display: none;
	}

	.menu-item-button {
    	display: block;
    	width: 117px;
    	height: 60px;
    	padding-left: 16px;
    	padding-bottom: 16px;
    	display: inline-block;
    	button {
    		height: 100%;
    		width: 100%;
    		border: 1px solid @primary-color;
    		background-color: @primary-color-inverted;
    		color: @primary-color;
    		.menu-button-text {
    			display:inline-block;
    			padding-bottom: 5px;
    		}
    	}
		a {
			text-decoration: none;
			background-color:@primary-color-inverted;
			color:@primary-color;
			padding:@button-padding;
			
			&:hover {
				background-color:@button-hover-color;
				color:@button-text-hover-color;
			}
			
			&.visited {
				background-color:@button-disabled-color;
				color:@button-text-disabled-color;
			}
		}
	}

	.menu-item-duration {
		float:right;
        .dir-rtl & {
            float:left;
        }
	}

	.page-level-progress-menu-item {
		padding:42px;
		position: relative;
		float: right;
		display: inline-block;
	}
	.page-level-progress-menu-item-indicator {
		border: 2px solid @primary-color-inverted;
	}
	.page-level-progress-menu-item-indicator-bar {
    	background-color: @primary-color-inverted;
	}
	.menu-footer {
		@media all and (min-width:@max-width) {
			width: @max-width;	
		}
		position: fixed;
    	bottom: 0px;
    	height: 64px;
    	background-color: @navigation-color;
    	width: 100%;
    	@media all and (max-width:@max-width) {
    		left: 0;
    	}
	}
}



@media all and (max-width:@device-width-medium) {
	.menu-title-inner{
		padding:15px 0 0;
	}

	.menu-body-inner{
		padding:0px 0 10px;
	}

   	.menu{

   		.menu-inner {
			padding:0;
		}

		.menu-item{
			width:100%;
			margin-bottom:20px;
			
			&.nth-child-even, &.nth-child-odd{
				
				.menu-item-inner{
					margin:0;
				}
			}
		}
   	}
}
